*~
.Trash-*
.DS_Store
.LSOverride
._*
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
crash.log
**.terraform*
**terraform.rc
**.tfvars
**.tfstate
**.tfstate.*
**.zip
**.not
**tests
**.drawio.bkp

